html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  .container:after {
    content: "";
    clear: both;
    display: table; }

.row {
  display: block;
  margin: 0 -15px; }
  .row:after {
    content: "";
    clear: both;
    display: table; }

.col-1 {
  width: 8.3333%; }

.col-2 {
  width: 16.6666%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333%; }

.col-5 {
  width: 41.6666%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333%; }

.col-8 {
  width: 66.6666%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333%; }

.col-11 {
  width: 91.6666%; }

.col-12 {
  width: 100%; }

[class*=col-] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media screen and (max-width: 767px) {
    [class*=col-] {
      width: 100%;
      float: none; } }

html, body {
  height: 100%; }

img {
  max-width: 100%; }

hr {
  border-color: #ddd; }

a, button, input, textarea, img {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.3em;
  font-weight: 400; }

h1 {
  font-size: 31px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 15px; }

small {
  font-size: 11px; }

body {
  color: #333333;
  font-size: 14px;
  padding-top: 80px;
  position: relative; }

._white-bg {
  background-color: #ffffff; }

._light-gray-bg {
  background-color: #f7fafb; }

._blue-bg {
  background-color: #69b5f8; }

._base-text-color {
  color: #333333; }

._xs-text {
  font-size: 11px; }

._lh-50 {
  line-height: 50px; }

._dark-text {
  color: #333333; }

._pad-top-15 {
  padding-top: 15px; }

._pad-top-20 {
  padding-top: 20px; }

._pad-top-30 {
  padding-top: 30px; }

._pad-top-35 {
  padding-top: 35px; }

._pad-top-40 {
  padding-top: 40px; }

._m-top-25 {
  margin-top: 25px; }

._inline-block {
  display: inline-block; }

._svg {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  line-height: 45px;
  vertical-align: text-bottom;
  margin-right: 10px; }

.hiden-content {
  display: none; }

.showAll {
  display: block; }

.header {
  border-bottom: 1px solid #f1f1f1;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .header .logo {
    float: left;
    font-size: 18px;
    margin: 3px 20px 0 0;
    text-align: center; }
    .header .logo img {
      max-height: 75px;
      display: block; }

.nav-menu {
  float: right; }
  .nav-menu__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px; }
    .nav-menu__item:hover {
      color: #3E6A74; }
    .nav-menu__item--rounded {
      border-radius: 17px;
      border: 2px solid #3E6A74;
      line-height: 20px;
      padding: 5px 15px;
      margin: 2px 0 0 0; }

.search-icon {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: 0;
  background-size: 100% auto; }

.btn {
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 13px;
  padding: 4px 8px 3px; }

.progress-bar {
  position: relative; }
  .progress-bar__vertical {
    height: 400px;
    width: 30px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ffffff;
    position: relative; }
  .progress-bar__inner {
    position: absolute;
    background-color: #38BFB3;
    bottom: 0;
    right: 0; }
    .progress-bar__vertical .progress-bar__inner {
      left: 0; }
  .progress-bar__value {
    position: absolute;
    right: 50%;
    margin-right: -42px;
    margin-bottom: -8px; }

.reward-bar {
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 0 20px;
  height: 100%;
  color: #ffffff;
  float: left;
  margin: 0 10px 10px 0; }

.widget {
  background-color: #ffffff;
  border-radius: 20px;
  float: left;
  position: relative;
  padding: 10px;
  margin: 0 10px 10px 0;
  text-align: center; }
  .widget__1 {
    width: 275px;
    height: 275px; }
  .widget__2x {
    width: 560px;
    height: 275px;
    padding: 0; }
  .widget__2y {
    width: 275px;
    height: 560px; }
  .widget .row {
    height: 100%;
    margin: 0; }
  .widget [class*="col-"] {
    height: 100%;
    box-shadow: 1px 0 0 0 #ddd;
    padding: 10px; }
    .widget [class*="col-"]:last-child {
      box-shadow: none; }

.users-table {
  width: 100%; }
  .users-table td {
    vertical-align: middle;
    padding: 5px; }
  .users-table .user-logo {
    display: block;
    margin: 0 auto; }

.user-logo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 1px solid #dddddd;
  text-align: center; }
  .user-logo img {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: none;
    vertical-align: middle; }
  .user-logo--big {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 15px; }

.modal {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em; }

@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em; } }
.modal > label {
  background: #FFD300;
  border: 1px solid #f0c600;
  border-radius: .2em;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s; }

.modal > label:hover {
  transform: scale(0.97); }

.modal__overlay {
  background: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600; }

.modal__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 90%; }

@media (min-width: 50em) {
  .modal__wrap {
    padding: 1.75em; } }
@media (min-height: 37.5em) {
  .modal__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%); } }
.modal__wrap label {
  background: #FFD300;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em; }

.modal__wrap h2 {
  color: #FFD300;
  margin-bottom: 1em;
  text-transform: uppercase; }

.modal__wrap p {
  color: #FFD300;
  text-align: justify; }

.modal input:focus ~ label {
  transform: scale(0.97); }

input {
  position: absolute;
  top: -1000px; }

.modal__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100; }

input:checked ~ .modal__overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 800; }

/*====================================
  Our Modal Window styles
=====================================*/
.modal2 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em; }

@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em; } }
.modal2 > label {
  background: #FFD300;
  border: 1px solid #f0c600;
  border-radius: .2em;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s; }

.modal2 > label:hover {
  transform: scale(0.97); }

.modal2__overlay {
  background: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600; }

.modal2__wrap {
  padding: 1em 0;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  width: 90%; }

@media (min-width: 50em) {
  .modal2__wrap {
    padding: 1.75em; } }
@media (min-height: 37.5em) {
  .modal2__wrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%); } }
.modal2__wrap label {
  background: #FFD300;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em; }

.modal2__wrap h2 {
  color: #FFD300;
  margin-bottom: 1em;
  text-transform: uppercase; }

.modal2__wrap p {
  color: #FFD300;
  text-align: justify; }

.modal2 input:focus ~ label {
  transform: scale(0.97); }

input {
  position: absolute;
  top: -1000px; }

.modal2__overlay {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100; }

input:checked ~ .modal2__overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 800; }

.thumbs-slider {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .thumbs-slider-list {
    padding: 0;
    margin: 0;
    width: 1000%;
    list-style: none; }
    .thumbs-slider-list:after {
      content: "";
      clear: both;
      display: table; }
  .thumbs-slider-item {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    height: 180px;
    padding-right: 0;
    padding-left: 0; }
    .thumbs-slider-item img {
      max-height: 100%; }

.thumbs-slider-nav {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  .thumbs-slider-nav-left {
    position: absolute;
    display: block;
    width: 55px;
    height: 74px;
    color: #1a6c92;
    z-index: 15;
    top: 50%;
    margin-top: -37px;
    font-size: 75px;
    letter-spacing: 0;
    line-height: 64px;
    left: 0px;
    text-align: left;
    cursor: pointer; }
  .thumbs-slider-nav-right {
    position: absolute;
    display: block;
    width: 55px;
    height: 74px;
    color: #1a6c92;
    z-index: 15;
    top: 50%;
    margin-top: -37px;
    font-size: 75px;
    letter-spacing: 0;
    line-height: 64px;
    right: 0;
    text-align: right;
    cursor: pointer; }

.dashboard {
  padding: 20px;
  background-color: #3E6A74;
  height: 100%; }
  .dashboard .container {
    height: 100%; }

@media print {
  *, *:after, *:before {
    color: #000000 !important;
    background: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }

/*# sourceMappingURL=styles.css.map */
