
@import "components/reset";
@import "components/vars";
@import "components/mixins";
@import "components/grid";
@import "components/common";
@import "components/helpers";
@import "components/header";
@import "components/icons";
@import "components/buttons";
@import "components/progress-bar";
@import "components/components";
@import "components/widget";
@import "components/modal";
@import "components/slider";

@import "components/dashboard";



@media print {
	*, *:after, *:before {
		color: #000000 !important;
		background: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
}