.reward-bar {
  width: 275px;
  //background: rgba(0,0,0,0.3);
  text-align: center;
  border-radius: $widget-border-radius;
  padding: 0 20px;
  height: 100%;
  color: #ffffff;
  float: left;
  margin: 0 10px 10px 0;
}

.widget-container {

}