// ----- ICONS -----

.search-icon {
	display: block;
	width: 15px;
	height: 15px;
	background-image: url("../images/search-icon.svg");
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-top: 0;
	background-size: 100% auto;
}