.widget {
  background-color: #ffffff;
  border-radius: $widget-border-radius;
  float: left;
  position: relative;
  padding: 10px;
  margin: 0 10px 10px 0;
  text-align: center;

  &__1 {
    width: 275px;
    height: 275px;
  }

  &__2x {
    width: 560px;
    height: 275px;
    padding: 0;
  }

  &__2y {
    width: 275px;
    height: 560px;
  }

  .row {
    height: 100%;
    margin: 0;
  }

  [class*="col-"]{
    height: 100%;
    box-shadow: 1px 0 0 0 #ddd;
    padding: 10px ;

    &:last-child {
      box-shadow: none;
    }
  }
}

.users-table {
  width: 100%;

  td {
    vertical-align: middle;
    padding: 5px;
  }

  .user-logo {
    display: block;
    margin: 0 auto;
  }
}

.user-logo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 1px solid #dddddd;
  text-align: center;

  img {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: none;
    vertical-align: middle;
  }

  &--big {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 15px;
  }
}

.user-name {

}